<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MM.CategoryMapper">
	<resultMap id="BaseResultMap" type="com.an.mm.entity.Category">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="short_name" property="shortName" jdbcType="VARCHAR" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="VARCHAR" />
		<result column="parent" property="parent" jdbcType="INTEGER" />
		<result column="step" property="step" jdbcType="INTEGER" />
		<result column="depth" property="depth" jdbcType="VARCHAR" />
		<result column="path" property="path" jdbcType="VARCHAR" />
		<result column="is_leaf" property="isLeaf" jdbcType="BIT" />
		<result column="sort" property="sort" jdbcType="INTEGER" />
		<result column="enter_dt" property="enterDt" jdbcType="TIMESTAMP" />
		<result column="enter_by" property="enterBy" jdbcType="INTEGER" />
		<result column="barcode" property="barcode" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Where_Clause">
		<where>
			status != 'd'
			<if test="code != null and code != ''">
				and code like concat(#{code}, '%')
			</if>
			<if test="name != null and name != ''">
				and name like concat('%', #{name}, '%')
			</if>
			<if test="parent != null">
				and parent = #{parent}
			</if>
			<if test="step != null and step > 0 ">
				and step = #{step}
			</if>
		</where>
	</sql>

	<sql id="Base_Column_List">
		id, code, name, short_name, remark, status, parent, step,
		depth, path, is_leaf, sort, enter_dt, enter_by, barcode
	</sql>

	<select id="selectByExample" parameterType="map" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from MM_CATEGORY
		<include refid="Base_Where_Clause" />
		order by depth
	</select>

	<select id="selectByPrimaryKey" parameterType="int" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from MM_CATEGORY
		where id = #{value,jdbcType=INTEGER}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="int">
		update MM_CATEGORY
		set status = 'd', enter_dt = now()
		where id = #{value,jdbcType=INTEGER}
	</delete>

	<delete id="deleteChildren" parameterType="int">
		update MM_CATEGORY
		set status = 'd', enter_dt = now()
		where path like concat('%,', #{value}, ',%')
	</delete>

	<insert id="insert" parameterType="com.an.mm.entity.Category">
		insert into MM_CATEGORY (
		code, name, short_name, remark, status, parent, step,
		depth, path, is_leaf, sort, enter_dt, enter_by, barcode
		) values (
		#{code,jdbcType=VARCHAR},
		#{name,jdbcType=VARCHAR},
		#{shortName,jdbcType=VARCHAR},
		#{remark,jdbcType=VARCHAR},
		#{status,jdbcType=VARCHAR},
		#{parent,jdbcType=INTEGER},
		#{step,jdbcType=INTEGER},
		#{depth,jdbcType=VARCHAR},
		#{path,jdbcType=VARCHAR},
		#{isLeaf,jdbcType=BIT},
		#{sort,jdbcType=INTEGER},
		now(),
		enter_by = #userId,
		#{barcode,jdbcType=VARCHAR}
		)
		<selectKey resultType="int" keyProperty="id">
			SELECT @@IDENTITY AS id
		</selectKey>
	</insert>

	<select id="countByExample" parameterType="map" resultType="int">
		select count(1) from MM_CATEGORY
		<include refid="Base_Where_Clause" />
	</select>

	<update id="updateByPrimaryKey" parameterType="com.an.mm.entity.Category">
		update MM_CATEGORY
		set code = #{code,jdbcType=VARCHAR},
		name = #{name,jdbcType=VARCHAR},
		short_name = #{shortName,jdbcType=VARCHAR},
		remark = #{remark,jdbcType=VARCHAR},
		status = #{status,jdbcType=VARCHAR},
		parent = #{parent,jdbcType=INTEGER},
		step = #{step,jdbcType=INTEGER},
		depth = #{depth,jdbcType=VARCHAR},
		path = #{path,jdbcType=VARCHAR},
		is_leaf = #{isLeaf,jdbcType=BIT},
		sort = #{sort,jdbcType=INTEGER},
		enter_dt = now(),
		enter_by = #userId,
		barcode = #{barcode,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>

	<select id="selectKV" resultType="map" parameterType="map">
		select id as k, name as v, step from MM_CATEGORY
		where status = 't'
		<if test="code != null and code != ''">
			and code like concat(#{code}, '%')
		</if>
		<if test="isLeaf != null and isLeaf != ''">
			and is_leaf = #{isLeaf}
		</if>
		order by depth
	</select>

	<update id="updateChildren" parameterType="com.an.mm.entity.Category">
		update MM_CATEGORY set
		code = concat(#{code}, LPAD(id, 2, '0')),
		step = #{step} + 1,
		depth = concat(#{depth}, LPAD(sort, 2, '0'), LPAD(id, 2, '0')),
		path = concat(#{path}, #{id}, ',')
		where parent = #{id}
	</update>

</mapper>