<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UomMapper">
	<resultMap id="BaseResultMap" type="com.an.base.entity.Uom">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="abbr" property="abbr" jdbcType="VARCHAR" />
		<result column="type" property="type" jdbcType="VARCHAR" />
		<result column="symbol" property="symbol" jdbcType="VARCHAR" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="VARCHAR" />
		<result column="enter_at" property="enterAt" jdbcType="TIMESTAMP" />
	</resultMap>

	<sql id="Base_Where_Clause">
		<where>
			<if test="name != null and name != ''">
				and name like concat('%', #{name}, '%')
			</if>
			<if test="status != null and status != ''">
				and status = #{status}
			</if>
			<if test="status == null">
				status != 'd'
			</if>
		</where>
	</sql>

	<sql id="Base_Column_List">
		id, code, name, abbr, type, symbol, remark, status, enter_at
	</sql>

	<select id="selectByExample" parameterType="map" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from BASE_UOM
		<include refid="Base_Where_Clause" />
		<if test="_BY != null">order by ${_BY}</if>
	</select>

	<select id="selectAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from BASE_UOM
	</select>

	<select id="selectByPrimaryKey" parameterType="int"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from BASE_UOM
		where id = #{value,jdbcType=INTEGER}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="int">
		update BASE_UOM
		set status = 'd', enter_at = now()
		where id = #{value,jdbcType=INTEGER}
	</delete>

	<insert id="insert" parameterType="com.an.base.entity.Uom">
		insert into BASE_UOM (code, name, abbr, type, symbol, remark, status, enter_at)
		values (#{code,jdbcType=VARCHAR},
		#{name,jdbcType=VARCHAR},#{abbr,jdbcType=VARCHAR},
		#{type,jdbcType=VARCHAR}, #{symbol,jdbcType=VARCHAR},
		#{remark,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, now())
		<selectKey resultType="int" keyProperty="id">
			SELECT @@IDENTITY AS id
		</selectKey>
	</insert>

	<select id="countByExample" parameterType="map" resultType="int">
		select count(1) from BASE_UOM
		<include refid="Base_Where_Clause" />
	</select>

	<update id="updateByPrimaryKey" parameterType="com.an.base.entity.Uom">
		update BASE_UOM
		set
		code = #{code,jdbcType=VARCHAR},
		name = #{name,jdbcType=VARCHAR},
		abbr = #{abbr,jdbcType=VARCHAR},
		type = #{type,jdbcType=VARCHAR},
		symbol = #{symbol,jdbcType=VARCHAR},
		remark = #{remark,jdbcType=VARCHAR}
		status = #{status,jdbcType=VARCHAR},
		enter_at = now(),
		where id = #{id,jdbcType=INTEGER}
	</update>

	<select id="selectKV" resultType="map">
		select id k,name v from BASE_UOM where status = 't'
	</select>

	<select id="selectByCode" parameterType="string" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from BASE_UOM
		where code = #{value,jdbcType=VARCHAR}
	</select>

	<select id="selectByName" parameterType="string" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from BASE_UOM
		where name = #{value,jdbcType=VARCHAR}
	</select>

</mapper>