<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TradeAutoMapper">

    <!-- 参数-->  
    <!-- <parameterMap type="java.util.Map" id="params">
        <parameter property="billDate" jdbcType="VARCHAR" javaType="java.lang.String" mode="IN"/>
        <parameter property="maxAmount" jdbcType="INTEGER" javaType="java.lang.Integer" mode="IN"/>
        <parameter property="existAmount" jdbcType="INTEGER" javaType="java.lang.Integer" mode="OUT"/>
        <parameter property="leftAmountReturn" jdbcType="INTEGER" javaType="java.lang.Integer" mode="OUT"/>
    </parameterMap> -->
    <select id="createTradeBillPro" statementType="CALLABLE"  parameterType="map" resultType="map">  
	    {call createTradeBillPro(
     		#{billDate,jdbcType=VARCHAR,mode=IN},  
		    #{maxAmount,jdbcType=INTEGER,mode=IN},
		    #{existAmount,jdbcType=VARCHAR,mode=OUT},
		    #{leftAmountReturn,jdbcType=VARCHAR,mode=OUT}
		)} 
    </select>  
    <select id="countByExample" parameterType="map" resultType="int">
		select count(*) from TRADE_BILL where
		bill_date = #{billDate,jdbcType=VARCHAR}
	</select>
</mapper>