<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="InventoryMapper">
    <resultMap id="BaseResultMap" type="com.an.wm.entity.Item">
        <id column="id" property="stockId" jdbcType="BIGINT"/>
        <result column="batch_code" property="batchCode" jdbcType="VARCHAR"/>
        <result column="batch_attr" property="batchAttr" typeHandler="com.an.core.mybatis.handlers.JsonTypeHandler"/>
        <result column="item_id" property="itemId" jdbcType="INTEGER"/>
        <result column="pn" property="pn" jdbcType="VARCHAR"/>
        <result column="barcode" property="barcode" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="uom" property="uom.id" jdbcType="INTEGER"/>
        <result column="pack_quantity" property="uom.packQuantity" jdbcType="NUMERIC"/>
        <result column="quantity" property="realQuantity" jdbcType="NUMERIC"/>
        <result column="bill_type" property="bill.type" jdbcType="VARCHAR"/>
        <result column="bill_id" property="bill.id" jdbcType="INTEGER"/>
        <result column="belong" property="belong.id" jdbcType="INTEGER"/>
        <result column="usage_type" property="usageType" jdbcType="VARCHAR"/>
        <result column="storage_type" property="storageType" jdbcType="VARCHAR"/>
        <result column="product_date" property="productDate" jdbcType="DATE"/>
        <result column="receipt_date" property="receiptDate" jdbcType="DATE"/>
        <result column="weight" property="weight" jdbcType="NUMERIC"/>
        <result column="volume" property="volume" jdbcType="NUMERIC"/>
        <result column="pallet" property="location.pallet" jdbcType="VARCHAR"/>
        <result column="warehouse" property="location.warehouse" jdbcType="INTEGER"/>
        <result column="location" property="location.locationCode" jdbcType="VARCHAR"/>
        <result column="section" property="location.sectionCode" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
           status != 'd'
            <if test="itemId != null and itemId != ''">and item_id = #{itemId}</if>
            <if test="pn != null and pn != ''">and pn = #{pn}</if>
            <if test="name != null and name != ''">and name like concat('%',#{goods},'%')</if>
            <if test="goods != null and goods != ''">and
                ( pn = #{goods} or barcode = #{goods} or name like concat('%',#{goods},'%') )
            </if>
            <if test="belong != null and belong != ''">and belong = #{belong}</if>
            <if test="warehouse != null and warehouse != ''">and warehouse = #{warehouse}</if>
            <!--<if test="usage != null and usage != ''">and usage_type = #{usage}</if>-->
            <if test="stockId != null and stockId != ''">and id = #{stockId}</if>
            <if test="locationCode != null and locationCode != ''">and location = #{locationCode}</if>
            <if test="sectionCode != null and sectionCode != ''">and section = #{sectionCode}</if>
        </where>
    </sql>

    <sql id="Base_Column_List">
        id, batch_code, item_id, pn, barcode, uom, quantity, item_id,
        lock_quantity, bill_type, bill_id, usage_type, storage_type, product_date,
        receipt_date, weight, volume, pallet, location, belong, 
        section, status, name, batch_attr, pack_quantity, warehouse
    </sql>

    <select id="selectByExample" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        select
        <include refid="Base_Column_List"/>
        from WM_INVENTORY
        <include refid="Example_Where_Clause"/>
        <if test="_BY != null">order by ${_BY}, batch_code</if>
    </select>

    <select id="countByExample" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(*) from WM_INVENTORY
        <include refid="Example_Where_Clause"/>
    </select>

    <select id="selectSummary" resultType="java.util.HashMap" parameterType="java.util.HashMap">
        select * from (
        select pn,item_id, sum(quantity * pack_quantity) quantity
        <if test="warehouse == null or warehouse == ''">, warehouse</if>
        <!--<if test="location == null or location == ''">, location</if>-->
        from WM_INVENTORY
        <where>
        <if test="warehouse != null and warehouse != ''">warehouse = #{warehouse}</if>
        <!--<if test="location != null and location != ''">and location = #{location}</if>-->
        </where>
        GROUP BY pn, item_id
        <if test="warehouse == null or warehouse == ''">, warehouse</if>
        <!--<if test="location == null or location == ''">, location</if>-->
        ) su, WM_ITEM it where it.id = su.item_id
        <if test="goodsName != null and goodsName != ''">and it.name like concat('%', #{goodsName}, '%')</if>
        <if test="_BY != null">order by ${_BY}</if>
    </select>

    <select id="countSummary" resultType="java.lang.Integer" parameterType="java.util.HashMap">
        select count(1) from (
        select pn,item_id, sum(quantity * pack_quantity) quantity
        <if test="warehouse == null or warehouse == ''">, warehouse</if>
        <!--<if test="location == null or location == ''">, location</if>-->
        from WM_INVENTORY
        <where>
        <if test="warehouse != null and warehouse != ''"> warehouse = #{warehouse}</if>
        <!--<if test="location != null and location != ''">and location = #{location}</if>-->
        </where>
        GROUP BY pn, item_id
        <if test="warehouse == null or warehouse == ''">, warehouse</if>
        <!--<if test="location == null or location == ''">, location</if>-->
        ) su, WM_ITEM it where it.id = su.item_id
        <if test="goodsName != null and goodsName != ''">and it.name like concat('%', #{goodsName}, '%')</if>
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from WM_INVENTORY
        where id = #{stockId,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        update WM_INVENTORY
        set status = 'd', enter_at = now()
        where id = #{stockId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.an.wm.entity.Item">
        insert into WM_INVENTORY (batch_code,
        item_id, pn, barcode, warehouse,
        uom, pack_quantity, name, quantity,
        bill_type, bill_id, usage_type,
        storage_type, product_date, receipt_date,
        weight, enter_at, volume, belong, pallet, location,
        section, status, batch_attr)
        values ( #{batchCode,jdbcType=VARCHAR}, #{itemId,jdbcType=INTEGER},
        #{pn,jdbcType=VARCHAR}, #{barcode,jdbcType=VARCHAR}, #{location.warehouse,jdbcType=INTEGER},
        #{uom.id,jdbcType=INTEGER}, #{uom.packQuantity,jdbcType=NUMERIC},
        #{name,jdbcType=VARCHAR}, #{realQuantity,jdbcType=NUMERIC},
        #{bill.type,jdbcType=VARCHAR}, #{bill.id,jdbcType=VARCHAR},
        #{usageType,jdbcType=VARCHAR}, #{storageType,jdbcType=VARCHAR},
        #{productDate,jdbcType=DATE}, #{receiptDate,jdbcType=DATE},
        #{weight,jdbcType=NUMERIC}, now(), #{volume,jdbcType=NUMERIC},
        #{belong.id,jdbcType=INTEGER}, #{location.pallet,jdbcType=VARCHAR},
        #{location.locationCode,jdbcType=VARCHAR}, #{location.sectionCode,jdbcType=VARCHAR},
        #{status,jdbcType=VARCHAR}, #{batchAttr,typeHandler=com.an.core.mybatis.handlers.JsonTypeHandler})
        <selectKey resultType="java.lang.Integer" keyProperty="stockId">
            SELECT @@IDENTITY AS stockId
        </selectKey>
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.an.wm.entity.Item">
        update WM_INVENTORY
        set batch_code = #{batchCode,jdbcType=VARCHAR},
        pn = #{pn,jdbcType=VARCHAR},
        barcode = #{barcode,jdbcType=VARCHAR},
        name = #{name,jdbcType=VARCHAR},
        uom = #{uom.id,jdbcType=INTEGER},
        pack_quantity = #{uom.packQuantity,jdbcType=NUMERIC},
        quantity = #{realQuantity,jdbcType=NUMERIC},
        bill_type = #{bill.type,jdbcType=VARCHAR},
        bill_id = #{bill.id,jdbcType=VARCHAR},
        usage_type = #{usageType,jdbcType=VARCHAR},
        storage_type = #{storageType,jdbcType=VARCHAR},
        product_date = #{productDate,jdbcType=DATE},
        receipt_date = #{receiptDate,jdbcType=DATE},
        weight = #{weight,jdbcType=NUMERIC},
        enter_at = now(),
        volume = #{volume,jdbcType=NUMERIC},
        warehouse = #{location.warehouse,jdbcType=VARCHAR},
        pallet = #{location.pallet,jdbcType=VARCHAR},
        location = #{location.locationCode,jdbcType=VARCHAR},
        section = #{location.sectionCode,jdbcType=VARCHAR},
        belong = #{belong.id,jdbcType=VARCHAR},
        batch_attr = #{batchAttr,typeHandler=com.an.core.mybatis.handlers.JsonTypeHandler},
        status = #{status,jdbcType=VARCHAR}
        where id = #{stockId,jdbcType=INTEGER}
    </update>
</mapper>